{% extends "home/base.html" %} {% block content %} {% load staticfiles %}
<script src="{% static 'graph_view/ajax_logic_graph_2.js' %}"></script>

<link rel="stylesheet" href="{% static 'graph_view/incomes_logic.css' %}">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<title>KapitaList - Charts</title>

<!-- Navbar : -->
{% include 'home/includes/navbar.html' %}

<div class="row" style="padding-top: 1%; padding-bottom: 4%; padding-right: 5%; padding-left: 5%">

    <!--
    ZONE WITH GRAPHIC
    -->
    <div class="col-md-9">
        <div id="chart_6">
            {% include 'graph_view/none.html' %}
        </div>
        <br>
        <br>
        <div class="row">
            <div style="padding: 5px">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </div>
            <h5 class="card-title">University timestamp by income</h5>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">How many years does it take to get the diploma in relation to your income?</h6>
        <hr>
        <h3>Conclusion on the Graph</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab sed, possimus quos distinctio, alias magnam optio, tenetur hic error ut perferendis ducimus. Consequuntur sunt tenetur iure iste quidem fugiat sapiente?</p>
    </div>

    <!--
    ZONE WITH CONTROLS
    -->

    <div class="col-md-3">
        <div class="row">
            <div class="col-md-10">
                <h3>SETTINGS</h3>
                <div align="left">
                    <small>Use SCHOOL or HOME postal code</small>
                    <br>
                    <small>Toggle the switch to change</small>
                </div>
            </div>
            <div class="col-md-2" align="center">
                <!-- SWITCH -->
                <h6 id="postal_label_home">HOME</h6>
                <h6 id="postal_label_school" style="display: none">SCHOOL</h6>
                <label class="switch">
                    <input name="postal_code" type="checkbox" id="postal_code_checkbox" value="home">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <hr>

        <h6>Change subject:</h6>
        <div style="padding: 5px">
            <select id='subject' class="form-control">
                {% for subject in subjects_jinja %}
                    <option>{{subject}}</option>
                {% endfor %}
            </select>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-9">
                <h6>Select the TOP or BOTTOM percent:</h6>
            </div>
            <div class="col-md-3">
                <!-- SWITCH TOP BOTTOM-->

                <div>
                    <center>
                        <h6 id="top_bottom_TOP">TOP</h6>
                        <h6 id="top_bottom_BOTTOM" style="display: none">BOTTOM</h6>
                    </center>
                </div>
                <div>
                    <label class="switch">
                        <input name="top_bottom" id="top_bottom_checkbox" type="checkbox" value="top">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div style="padding: 5px">
            <select id="percent" class="form-control">
                <option value="0.05">5%</option>
                <option value="0.10">10%</option>
                <option value="0.15">15%</option>
                <option value="0.20">20%</option>
                <option value="0.25">25%</option>
                <option value="0.30">30%</option>
                <option value="0.35">35%</option>
                <option value="0.40">40%</option>
                <option value="0.45">45%</option>
                <option value="0.50">50%</option>
                <option value="0.55">55%</option>
                <option value="0.60">60%</option>
                <option value="0.65">65%</option>
                <option value="0.70">70%</option>
                <option value="0.75">75%</option>
                <option value="0.80">80%</option>
                <option value="0.85">85%</option>
                <option value="0.90">90%</option>
                <option value="0.95">95%</option>
                <option value="1.00">100%</option>               
            </select>

            <br>

            <button type="button" onclick="AJAX_refresh()" class="btn btn-primary">Go to</button>


        </div>
    </div>
</div>

{% include 'home/includes/footer.html' %} {% endblock %}