{% extends "home/base.html" %} {% block content %} {% load staticfiles %}
<script src="{% static 'graph_view/ajax_logic.js' %}"></script>
<link rel="stylesheet" href="{% static 'graph_view/incomes_logic.css' %}">

<title>KapitaList - Charts</title>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<!-- Navbar -->

{% include 'home/includes/navbar.html' %}

<div class="row" style="padding-top: 1%; padding-bottom: 4%; padding-right: 5%; padding-left: 5% ">
    <div class="col-md-9">

        <!-- CHART 1 -->

        <div id="chart_1">
            {% include 'graph_view/none.html' %}
        </div>
        <br>
        <br>
        <div class="row">
            <div style="padding: 5px">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </div>
            <h5 class="card-title">Grafic by subject</h5>
        </div>
        <h6 class="card-subtitle mb-2 text-muted ">This Bar Graph represents for each mark its income distribution.</h6>
        <hr>
        <h3>Conclusion on the First Graph</h3>
        <p>Some subjects related with Computer Science show higher marks for lower-income classes, in contrast to subjects that seems to be the more difficult like: Electromagnetism, Mechanics... are those where high-income students get the higher some advantages.</p>

        <!-- CHART 5 -->

        <br>
        <hr style="height: 2px; background: #4a7cd1"><br>

        <div id="chart_5">
            {% include 'graph_view/none.html' %}
        </div>
        <br>
        <br>
        <div class="row">
            <div style="padding: 5px">
                <i class="fa fa-area-chart" aria-hidden="true"></i>
            </div>
            <h5 class="card-title">Grafic by subject (with linear regression)</h5>
        </div>
        <h6 class="card-subtitle mb-2 text-muted ">Scatter plot of a sample of 1500 individuals. Each individual is resented by a dot in the chart. The dot is positioned by the individual's anual income and his grade in the selected subject.</h6>
        <hr>
        <h3>Conclusion on the Second Graph</h3>
        <p>We can see that there isn't any type of regression possible, instead there is a host of points without any kind of order.</p>

    </div>

    <!--
    ZONE WITH CONTROLS
    -->

    <div class="col-md-3">
        <div class="row">
            <div class="col-md-10">
                <h3>SETTINGS</h3>
                <div align="left">
                    <small>Use SCHOOL or HOME postal code</small>
                    <br>
                    <small>Toggle the switch to change</small>
                </div>
            </div>
            <div class="col-md-2" align="center">
                <!-- SWITCH -->
                <h6 id="postal_label_home">HOME</h6>
                <h6 id="postal_label_school" style="display: none">SCHOOL</h6>
                <label class="switch">
                    <input name="postal_code" id="postal_code_checkbox" type="checkbox" value="home">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div style="position: fixed; padding-right: 5%">
            <hr>
            <h6>Change subject:</h6>
            <div style="padding: 5px">
                <select id='subject' class="form-control">
                        {% for subject in subjects_jinja %}
                            <option>{{subject}}</option>
                        {% endfor %}
                    </select>
                <br>
                <button type="button" onclick="AJAX_refresh()" class="btn btn-primary">Go to</button>
            </div>
        </div>
    </div>

</div>

{% include 'home/includes/footer.html' %} {% endblock %}