{% extends "home/base.html" %} {% block content %} {% load staticfiles %}
<script src="{% static 'graph_view/incomes_logic.js' %}"></script>
<link rel="stylesheet" href="{% static 'graph_view/incomes_logic.css' %}">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<title>KapitaList - Charts</title>

<!-- Navbar : -->
{% include 'home/includes/navbar.html' %}

<meta id="tabulated_incomes" data-name="data" data-other="{{tabulated_incomes}}">
<meta id="_rest" data-name="data" data-other="{{rest}}">
<meta id="subjects_js" data-name="data" data-other="{{subjects_js}}">

<div class="row" style="padding-top: 1%; padding-bottom: 4%; padding-right: 5%; padding-left: 5% ">

    <div class="col-md-9">

        <!--
        ZONE WITH CONTROLS
        -->

        <div class="row">

            <div class="col-md-2" align="center" style="padding: 5px">
                <h3>SUBJECTS</h3>
                <small>Use the tabs to add and remove subjects from the chart</small>
            </div>

            <div class="col-md-5" style="padding-right: 35px; padding-left: 35px; padding-bottom: 5px; padding-top: 5px">
                <h6>Add subject: <small style="font-weight: bold">(max 5 subjects)</small></h6>
                <div style="padding-bottom: 3px">
                    <button type="button" onclick="add_subject()" class="btn btn-outline-primary" style="width: 100%">Add</button>
                </div>
                <select id='add_subject' class="form-control">
                    {% for subject in subjects_jinja %}
                        <option>{{subject}}</option>
                    {% endfor %}        
                </select>
            </div>

            <div class="col-md-5" style="padding-right: 35px; padding-left: 35px; padding-bottom: 5px; padding-top: 5px">
                <h6>Remove subject:</h6>
                <div style="padding-bottom: 3px">
                    <button type="button" onclick="remove_subject()" class="btn btn-outline-danger" style="width: 100%">Remove</button>
                </div>
                <select class="form-control" id='remove_subject'>        
                    {% for subject in current_subjects %}
                        <option>{{subject}}</option>
                    {% endfor %}  
                </select>
            </div>

        </div>

        <hr>

        <!-- <div class="row">
            <div class="col-md-2" style="padding: 2px">
                <h6>Current subjects:</h6>
            </div>
            <div class="col-md-10">
                <div class="row">
                    {% for subject in current_subjects %}
                    <div style="padding: 2px">
                        <span class=" badge badge-pill badge-primary ">{{subject}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div> -->

        <!--
        ZONE WITH GRAPHIC
        -->
        {% if none %} {% include 'graph_view/none.html' %} {% endif %} {% if error %} {% include 'graph_view/error.html' %} {% endif %}

        <div class="row ">
            <div style="padding: 5px ">
                <i class="fa fa-bar-chart " aria-hidden="true "></i>
            </div>
            <h5 class="card-title ">Grafic by income</h5>
        </div>
        <h6 class="card-subtitle mb-2 text-muted ">The last graphic and the more complex, shows for each income and subject selected the average mark. You can add and remove subjects and incomes as you feel.</h6>
        <hr>
        <h3>Conclusion on the Graph</h3>
        <p>This is the most complete chart we have rightnow. You can see the differences of grade between the subjects and between different incomes. The difference isn't enormous but richer students tend to have a little advantage overall in comparaison
            to there porest mates.</p>

    </div>


    <!--
    ZONE WITH CONTROLS
    -->

    <div class="col-md-3">
        <div class="row">
            <div class="col-md-10">
                <h3>SETTINGS</h3>
                <div align="left">
                    <small>Use SCHOOL or HOME postal code</small>
                    <br>
                    <small>Toggle the switch to change</small>
                </div>
            </div>
            <div class="col-md-2" align="center">
                <!-- SWITCH -->
                <h6 id="postal_label_home">HOME</h6>
                <h6 id="postal_label_school" style="display: none">SCHOOL</h6>
                <label class="switch">
                        <input name="postal_code" type="checkbox" value="home">
                        <span class="slider round"></span>
                    </label>
            </div>
        </div>

        <hr>

        <h6>Add Income: </h6>
        <div style="padding: 5px">
            <div>
                <div>
                    <h6>FROM:</h6>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button onclick="decrementValue( 'income_from')" class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                    </div>
                    <input id="income_from" min="0" step="100" value="10000" type="number" class="form-control" aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <button onclick="incrementValue( 'income_from')" class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div>
                <div>
                    <h6>TO:</h6>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button onclick="decrementValue( 'income_to')" class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                    </div>
                    <input id="income_to" min="0" step="100" value="15000" type="number" class="form-control" aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <button onclick="incrementValue( 'income_to')" class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger" id='alert_1' style='display: none' role="alert">
                incomes are not well written
            </div>

            <div class="alert alert-info" id='alert_2' style='display: none' role="alert">
                income span already include
            </div>

            <div style="padding-bottom: 10px">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" id="rest" value="option1"> Add above highest income
                    </label>
                </div>
            </div>
            <button type="button" onclick="add()" class="btn btn-primary">Add</button>
        </div>
        <hr>


        <h6>Remove Income:</h6>
        <div style="padding: 5px">
            <select class="form-control" id='remove'>
                    {%if incomes != 'None'%}
                    <option>Default select</option>
                    {% for income in incomes_input %}
                    <option>{{income}}</option>
                    {% endfor %}
                    {% endif %}
                    {%if incomes == 'None'%}
                    <option>Default select</option>
                    {% endif %}
                </select>
        </div>

        <div style="padding: 5px">
            <button type="button" onclick="remove()" class="btn btn-outline-danger">Remove</button>
        </div>

        <hr>

        <h6>Incomes:</h6>
        {%if incomes != 'None'%}
        <ul>{% for income in incomes %}
            <li>{{income}}
                <i class="fa fa-eur" aria-hidden="true"></i>
            </li>
            {% endfor %}
        </ul>{% endif %} {% if incomes == 'None' %}
        <div class="alert alert-primary" role="alert">
            Start entering income spans in the box above
        </div>
        {% endif %}
    </div>
</div>

{% include 'home/includes/footer.html' %} {% endblock %}