{% extends "home/base.html" %} {% block content %}

{% load staticfiles %}
<script src="{% static 'graph_view/incomes_logic.js' %}"></script>
<link rel="stylesheet" href="{% static 'graph_view/incomes_logic.css' %}">

<!-- Navbar : -->
{% include 'home/includes/navbar.html' %}

<meta id="tabulated_incomes" data-name="data" data-other="{{tabulated_incomes}}">
<meta id="_rest" data-name="data" data-other="{{rest}}">

<div class="row" style="padding-top: 1%; padding-bottom: 4%; padding-right: 5%; padding-left: 5% ">

    <!--
    ZONE WITH GRAPHIC
    -->
    <div class="col-md-9">
        {% with data=data x_labels=x_labels line_labels=line_labels %}{% include 'graph_view/includes/area_chart.html' %}{% endwith %}
        <br>
        <br>
        <div class="row">
            <div style="padding: 5px">
                <i class="fa fa-area-chart" aria-hidden="true"></i>
            </div>
            <h5 class="card-title">Grafic by income</h5>
        </div>
        <h6 class="card-subtitle mb-2 text-muted ">Average of all grades by income over the quarters</h6>
        <hr>
        <h3>Conclusion on the Graph</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab sed, possimus quos distinctio, alias magnam optio, tenetur hic error ut perferendis ducimus. Consequuntur sunt tenetur iure iste quidem fugiat sapiente?</p>
    </div>
    <!--
    ZONE WITH CONTROLS
    -->

    <div class="col-md-3">
        <div class="row">
            <div class="col-md-10">
                <h3>SETTINGS</h3>
                <div align="left">
                    <small>Use SCHOOL or HOME postal code</small>
                    <br>
                    <small>Toggle the switch to change</small>
                </div>
            </div>
            <div class="col-md-2" align="center">
                <!-- SWITCH -->
                <h6 id="postal_label_home">HOME</h6>
                <h6 id="postal_label_school" style="display: none">SCHOOL</h6>
                <label class="switch">
                    <input name="postal_code" type="checkbox" value="home">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <hr>

        <h6>Add Income:</h6>
        <div style="padding: 5px">
            <div>
                <div>
                    <h6>FROM:</h6>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button onclick="decrementValue( 'income_from')" class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                    </div>
                    <input id="income_from" min="0" step="100" value="5000" type="number" class="form-control" aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <button onclick="incrementValue( 'income_from')" class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div>
                <div>
                    <h6>TO:</h6>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button onclick="decrementValue( 'income_to')" class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                    </div>
                    <input id="income_to" min="0" step="100" value="7500" type="number" class="form-control" aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <button onclick="incrementValue( 'income_to')" class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger" id='alert_1' style='display: none' role="alert">
                incomes are not well written
            </div>

            <div class="alert alert-info" id='alert_2' style='display: none' role="alert">
                income span already include
            </div>

            <div style="padding-bottom: 10px">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="rest" value="option1"> Add above highest income
                </label>
              </div>
            </div>
            <button type="button" onclick="add()" class="btn btn-primary">Add</button>
        </div>
        <hr>


        <h6>Remove Income:</h6>
        <div style="padding: 5px">
            <select class="form-control" id='remove'>
                {%if incomes != 'None'%}
                <option>Default select</option>
                {% for income in incomes_input %}
                <option>{{income}}</option>
                {% endfor %}
                {% endif %}
                {%if incomes == 'None'%}
                <option>Default select</option>
                {% endif %}
            </select>
        </div>

        <div style="padding: 5px">
            <button type="button" onclick="remove()" class="btn btn-outline-danger">Remove</button>
        </div>

        <hr>

        <h6>Incomes:</h6>
        {%if incomes != 'None'%}
        <ul>{% for income in incomes %}
            <li>{{income}}
                <i class="fa fa-eur" aria-hidden="true"></i>
            </li>
            {% endfor %}
        </ul>{% endif %} {% if incomes == 'None' %}
        <div class="alert alert-primary" role="alert">
            Start entering income spans in the box above
        </div>
        {% endif %}
    </div>
</div>

{% include 'home/includes/footer.html' %} {% endblock %}
