{% block content %}
<center style="padding: 20px">
    <div class="row" style="padding: 5%; background: rgb(202, 202, 255); border-radius: 20px">
        <div class="col-md-3">
            <i class="fa fa-search" style="font-size:10.8em" aria-hidden="true"></i>
        </div>
        <div class="col-md-9">
            <h1>USE THE TAB TO START ENTERING SUBJECTS</h1>
            <hr>
            <p>
                Disclaimer: The subject's code you will try to access need to be valid. If they weren't correct no data will be shown
            </p>
        </div>
    </div>
</center>
{% endblock %}