{% block content %}

<script>
    function goBack() {
        window.history.back();
    }
</script>

<center style="padding-top: 20px">
    <div class="row" style="padding: 5%; width: 80%; background: rgb(190, 190, 255); border-radius: 20px">
        <div class="col-md-3">
            <i class="fa fa-file" style="font-size:12.8em" aria-hidden="true"></i>
        </div>
        <div class="col-md-9">
            <h1>AN ERROR OCCURED</h1>
            <hr>
            <p>
                The subject's code you are trying to acces doesn't exists or the URL information you entered has not been formated properly. Try to go Back to the previous page to change the information you are looking for or visit our home page. Thanks
            </p>
            <div style="padding-left: 10px" class="row">
                <div style="padding: 5px">
                    <button type="button" onclick="goBack()" class="btn btn-danger btn-lg">Go Back</button>
                </div>
                <div style="padding: 5px">
                    <a href="{% url 'home:index' %}" class="btn btn-primary btn-lg ">Go Home</a>
                </div>
            </div>
        </div>
    </div>
</center>

{% endblock %}