{% extends "home/base.html" %} {% block content %}

<!-- Navbar -->

<title>KapitaList - Conclusion</title>

{% include 'home/includes/navbar.html' %}

<style>
    a:visited {
        text-decoration: none;
        color: white;
    }
    
    a:hover {
        text-decoration: none;
        color: white;
    }
    
    a:focus {
        text-decoration: none;
        color: white;
    }
    
    a:hover,
    a:active {
        text-decoration: none;
        color: white
    }
</style>

<div style="padding-top: 4%; padding-bottom: 4%; padding-right: 10%; padding-left: 10% ">
    <h1>Does the family income affect the grades in university?</h1>
    <h2>Conclusion</h2>
    <hr>
    <p style="padding-top: 20px; padding-bottom: 5px">Although it doesn’t exist any kind of direct relation between income and grades, we can conclude in some subjects we have interesting results. For instance, in Computer subjects, lowest income students have the greatest marks. Also in everything related
        with Chemistry, the richest fail more. In economics, we have the coincidence the lowest income students got the lower marks. Even though results are not 100% certain, because we don’t know the real income of the students’ families and we have
        make an approximation connecting students with their average Postal Code income, results are not absurd. One case we guessed was related with hard subjects; in them, students with higher income has the better marks. ¿Coincidence? Not really. All
        we know that in this university we have the academies, so it can be a relation with people who take this extra-classes (usually richer ones) and consequently getting a higher mark. On the other hand, also low income students get high marks, so
        grades can be connected with the income, but at the end grades depend on yourself
    </p>
</div>

{% include 'home/includes/footer.html' %} {% endblock %}