{% extends "home/base.html" %} {% block content %}

<!-- Navbar -->

<title>KapitaList - Conclusion</title>

{% include 'home/includes/navbar.html' %}

<style>
    a:visited {
        text-decoration: none;
        color: white;
    }
    
    a:hover {
        text-decoration: none;
        color: white;
    }
    
    a:focus {
        text-decoration: none;
        color: white;
    }
    
    a:hover,
    a:active {
        text-decoration: none;
        color: white
    }
</style>

<div style="padding-top: 4%; padding-bottom: 4%; padding-right: 10%; padding-left: 10% ">
    <h1>Does the family income affect the grades in university?</h1>
    <h2>Conclusion</h2>
    <hr>
    <p style="padding-top: 20px; padding-bottom: 5px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptates deserunt sint, ducimus quod quos, doloremque sunt, consequuntur dolore debitis delectus! Sit tenetur error recusandae iste qui quod laudantium dolor. Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Libero alias harum accusamus inventore esse, eaque voluptatibus exercitationem nulla voluptate est distinctio incidunt dolor sint qui amet sit impedit sed porro. Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Odio ipsa, voluptate, voluptatibus saepe amet rem iste quaerat aliquid voluptatem repellendus incidunt optio obcaecati officiis aspernatur illo officia ad hic consectetur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        architecto excepturi aliquam aspernatur a, nulla, non impedit maiores quo quos inventore numquam odio rem fugit quisquam ipsam ab alias qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur eaque earum dolor totam quod obcaecati
        dolorem expedita iusto, deserunt repudiandae illo animi ratione incidunt veritatis praesentium architecto accusamus culpa ex!
    </p>
    <img src="https://nequalsone.files.wordpress.com/2014/04/conclusion_blacknwhite.jpg" align="center" style="width: 100%">
    <p style="padding-top: 20px; padding-bottom: 5px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptates deserunt sint, ducimus quod quos, doloremque sunt, consequuntur dolore debitis delectus! Sit tenetur error recusandae iste qui quod laudantium dolor. Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Libero alias harum accusamus inventore esse, eaque voluptatibus exercitationem nulla voluptate est distinctio incidunt dolor sint qui amet sit impedit sed porro. Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Odio ipsa, voluptate, voluptatibus saepe amet rem iste quaerat aliquid voluptatem repellendus incidunt optio obcaecati officiis aspernatur illo officia ad hic consectetur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        architecto excepturi aliquam aspernatur a, nulla, non impedit maiores quo quos inventore numquam odio rem fugit quisquam ipsam ab alias qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur eaque earum dolor totam quod obcaecati
        dolorem expedita iusto, deserunt repudiandae illo animi ratione incidunt veritatis praesentium architecto accusamus culpa ex!
    </p>
</div>

{% include 'home/includes/footer.html' %} {% endblock %}