{% extends "home/base.html" %} {% block content %}

<title>KapitaList - Home</title>

<!-- Navbar -->

{% include 'home/includes/navbar.html' %} {% load staticfiles %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">

<div style="background: linear-gradient( rgb(202, 209, 248), #4a7cd1)">
    <div align="center">
        {% include 'home/includes/title.svg' %}
    </div>
    <div style="background: rgb(255,255,255); padding-right: 10%; padding-left: 10%; padding-top: 5%;; padding-bottom: 5%">
        <div style="background: rgb(245, 245, 245); padding: 25px">

            <center>
                <h1>What is our Project about?</h1>
                <h4>Problematic: Does the family income affect the grades in university?</h4>
            </center>
            <hr>

            <p> We are three Indsutrial Engineering students in the Polytechnic University of Barcelona. One day, walking around, we noticed there were a lot of different people surrounding us; so a questions came up to our minds; Does familiar income affect
                our marks? Computer Science Department let us some files with all students’ marks, ID, Postal codes, etc. since 2010 until now, and we started to investigate.
            </p>
            <p>Firstly, we connected each Postal Code with its location. When we had all the locations, we searched for each locations its gross salary and the we calculated the net salar( TO calculate it, we have used 2015 data and IRPF intervals). Lately,
                we decided to make four graphs; two bar codes, one regression and a multi bar graph.
            </p>

            <hr>

            <center>
                <h5>We hope you enjoy surfing on our website!</h5>
            </center>

            <div style="padding-top: 10px">
                <a href="/conclusion" class="btn btn-primary" style="position: relative; left: 40%; font-size: 25px;">
                    <font style="color: #ffffff">
                        See Study Results
                    </font>
                </a>
            </div>
        </div>
    </div>

    {% load staticfiles %}

    <!-- CARDS -->
    <div style="padding-top: 4%; padding-bottom: 4%; padding-right: 10%; padding-left: 10% ">
        <div class="row">
            <h1>Which tools do we base our study on?</h1>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Charts by subject</h5>
                        <br>
                        <h6 class="card-subtitle mb-2 text-muted">Select a subject and visualize the grade distribution by income. You will be able to see it in bar graph and also in a scatter graph in which each point represents de grade of a person and he's anual incomes.</h6>
                        <hr>
                        <div style="padding: 10px">
                            <img src="{% static 'home/img/scatter_chart.png' %}" style="width : 14rem; height : 14rem">
                        </div>
                        <a href="{% url 'graph:graph_1' %}" class="btn btn-dark">View</a>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 ">
                <div class="card " style="width: 18rem; ">
                    <div class="card-body ">
                        <h5 class="card-title ">Best and worst students</h5>
                        <br>
                        <h6 class="card-subtitle mb-2 text-muted ">Here we can see who are the best and worst students for a given subject. You can choose which percent or subject is shown by changing the settings in the side bar.</h6>
                        <hr>
                        <div style="padding: 10px">
                            <img src="{% static 'home/img/bar_chart.jpg' %}" style="width : 14rem; height : 14rem">
                        </div>
                        <a href="{% url 'graph:graph_2' %}" class="btn btn-dark">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card " style="width: 18rem; ">
                    <div class="card-body ">
                        <h5 class="card-title ">Multi bar chart by income and subjects</h5>
                        <br>
                        <h6 class="card-subtitle mb-2 text-muted ">The last graphic and the more complex, shows for each income and subject selected the average mark. You can add and remove subjects and incomes as you feel.</h6>
                        <hr>
                        <div style="padding: 10px">
                            <img src="{% static 'home/img/multi_bar_chart.png' %}" style="width : 14rem; height : 14rem">
                        </div>
                        <a href="{% url 'graph:graph_3' 'Default' 'Default' 'HOME' %}" class="btn btn-dark">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'home/includes/footer.html' %}

</div>

{% endblock %}