{% extends "home/base.html" %} {% block content %}

<!-- Navbar -->

{% include 'home/includes/navbar.html' %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">

<div style="background: linear-gradient( rgb(202, 209, 248), #4a7cd1)">
    <div align="center">
        {% include 'home/includes/title.svg' %}
    </div>
    <div style="background: rgb(255,255,255); padding-right: 10%; padding-left: 10%; padding-top: 5%;; padding-bottom: 5%">
        <div style="background: rgb(245, 245, 245); padding: 25px">

            <h1>Does the family income affect the grades in university?</h1>
            <hr>

            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, voluptate? A provident asperiores nihil! Fugiat dolore et nulla maxime assumenda voluptate necessitatibus quod asperiores quae non sed sunt, exercitationem aliquid? Lorem ipsum
                dolor sit amet consectetur, adipisicing elit. Quos laborum non magni ipsum, provident incidunt iusto id, sed nesciunt veniam illum exercitationem cum quod doloribus architecto sint doloremque similique culpa. Lorem ipsum dolor, sit amet
                consectetur adipisicing elit. Placeat dolores nobis dolor tempore eveniet aperiam itaque doloremque! Animi atque praesentium tenetur itaque maiores perspiciatis asperiores odio magni consequatur eveniet. Tenetur.
            </p>

            <a href="/conclusion" class="btn btn-primary" style="position: relative; left: 40%; font-size: 25px;">
                <font style="color: #ffffff">
                    See Study Results
                </font>
            </a>
        </div>
    </div>

    {% load staticfiles %}

    <!-- CARDS -->
    <div style="padding-top: 4%; padding-bottom: 4%; padding-right: 10%; padding-left: 10% ">
        <div class="row">
            <h1>Which tools do we base our study on?</h1>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Grafic by subject</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Within the same subject the distribution of grades by income in percentage</h6>
                        <hr>
                        <div style="padding: 10px">
                            <img src="{% static 'home/img/Stacked_column_chart.png' %}" style="width : 14rem; height : 14rem">
                        </div>
                        <a href="{% url 'graph:graph_1' 240011 %}" class="btn btn-dark">View</a>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 ">
                <div class="card " style="width: 18rem; ">
                    <div class="card-body ">
                        <h5 class="card-title ">University timestamp by income</h5>
                        <h6 class="card-subtitle mb-2 text-muted ">How many years does it take to get the diploma in relation to your income?</h6>
                        <hr>
                        <div style="padding: 10px">
                            <img src="{% static 'home/img/progress_bar.jpg' %}" style="width : 14rem; height : 14rem">
                        </div>
                        <a href="{% url 'graph:graph_2' 'Default' %}" class="btn btn-dark">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card " style="width: 18rem; ">
                    <div class="card-body ">
                        <h5 class="card-title ">Grafic by income</h5>
                        <h6 class="card-subtitle mb-2 text-muted ">Average of all grades by income over the quarters</h6>
                        <hr>
                        <div style="padding: 10px">
                            <img src="{% static 'home/img/area_chart.png' %}" style="width : 14rem; height : 14rem">
                        </div>
                        <a href="{% url 'graph:graph_3' 'Default' %}" class="btn btn-dark">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'home/includes/footer.html' %}

</div>

{% endblock %}
