{% block content %}

<script type="text/javascript">
    google.charts.load('current', {
        'packages': ['corechart']
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        // FORMATING DATA FROM DJANGO TO JAVASCRIPT:
        var data = $('#data_graph_3').data().other;

        // Get min and max value for google chart:
        var borders = new Array();
        for (var x = 0; i < data.length; i++) {
            for (var y = 0; i < data.length; i++) {
                borders.push(data[x][y]);
            }
        }

        var min = Math.min.apply(null, borders);
        var max = Math.max.apply(null, borders);

        var x_labels = $('#x_labels_graph_3').data().other;
        x_labels = x_labels.split(',')

        var line_labels = $('#line_labels_graph_3').data().other;
        line_labels = line_labels.split(',')

        // Format 'line_lables':
        line_labels.unshift('quarters')

        // Init variable:
        var value = new Array();
        value.push(line_labels);

        for (var i = 0; i < data.length; i++) {
            data[i].unshift(x_labels[i]);
            value.push(data[i]);
        }
        // END OF FORMATING

        var data = google.visualization.arrayToDataTable(value);

        var options = {
            height: 400,
            hAxis: {
                title: 'Year',
                titleTextStyle: {
                    color: '#333'
                }
            },
            vAxis: {
                viewWindowMode: 'explicit',
                viewWindow: {
                    max: max,
                    min: min
                }
            },
            chartArea: {
                width: '90%',
            },
            title: 'Graphic by income',
            legend: {
                position: 'bottom',
                maxLines: 15
            },
            bar: {
                groupWidth: '75%'
            },
            colors: ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6', '#f3b42f'],
        };

        var chart = new google.visualization.AreaChart(document.getElementById('graph_3'));
        chart.draw(data, options);
    }
</script>

<div id="graph_3" style="width: 100%"></div>

<meta id="data_graph_3" data-name="data" data-other="{{data_graph_3}}">
<meta id="x_labels_graph_3" data-name="data" data-other="{{x_labels_graph_3}}">
<meta id="line_labels_graph_3" data-name="data" data-other="{{line_labels_graph_3}}"> {% endblock %}