{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {
        'packages': ['corechart']
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        // FORMATING DATA FROM DJANGO TO JAVASCRIPT:
        var data = $('#data').data().other;

        var x_labels = $('#x_labels').data().other;
        x_labels = x_labels.split(',')

        var line_labels = $('#line_labels').data().other;
        line_labels = line_labels.split(',')

        // Format 'line_lables':
        line_labels.unshift('quarters')

        // Init variable:
        var value = new Array();
        value.push(line_labels);

        for (var i = 0; i < data.length; i++) {
            data[i].unshift(x_labels[i]);
            value.push(data[i]);
        }
        // END OF FORMATING

        var data = google.visualization.arrayToDataTable(value);


        var options = {
            hAxis: {
                title: 'Year',
                titleTextStyle: {
                    color: '#333'
                }
            },
            vAxis: {
                minValue: 0
            },
            chartArea: {
                width: '90%',
            },
            title: 'Graphic by income',
            legend: {
                position: 'bottom',
                maxLines: 15
            },
            bar: {
                groupWidth: '75%'
            },
            colors: ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6', '#f3b42f'],
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div_1'));
        chart.draw(data, options);
    }
</script>

<div id="chart_div_1" style="width: 100%; height: 500px;"></div>

<meta id="data" data-name="data" data-other="{{data}}">
<meta id="x_labels" data-name="data" data-other="{{x_labels}}">
<meta id="line_labels" data-name="data" data-other="{{line_labels}}"> {% endblock %}
