{% block content %}

<script type="text/javascript">
    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        // FORMATING DATA FROM DJANGO TO JAVASCRIPT:
        var data = $('#data_graph_2').data().other;

        var bar_labels = ($('#bar_labels_graph_2').data().other);
        bar_labels = bar_labels.split(',')

        // Init variable:
        var value = new Array();
        value.push(["Income", "Years"]);

        for (var i = 0; i < data.length; i++) {
            value.push([bar_labels[i], data[i]]);
        }
        // END OF FORMATING

        var data = google.visualization.arrayToDataTable(value);

        var options = {
            height: 400,
            title: 'University timestamp by income',
            chartArea: {
                width: '65%',
            },
            hAxis: {
                title: 'Years to get the degree',
                minValue: 0
            },
            vAxis: {
                title: 'Income'
            }
        };

        var chart = new google.visualization.BarChart(document.getElementById('graph_2'));

        chart.draw(data, options);
    }
</script>

<meta id="data_graph_2" data-name="data" data-other="{{data_graph_2}}">
<meta id="bar_labels_graph_2" data-name="data" data-other="{{bar_labels_graph_2}}">

<div id="graph_2" style="width: 100%"></div>
{% endblock %}