{% block content %}
<script>
    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(drawBasic);

    function flatten(arr) {
        return arr.reduce(function(flat, toFlatten) {
            return flat.concat(Array.isArray(toFlatten) ? flatten(toFlatten) : toFlatten);
        }, []);
    }

    function drawBasic() {

        // FORMATING DATA FROM DJANGO TO JAVASCRIPT:
        var data = $('#data_graph_6').data().other;

        var max = Math.max.apply(null, flatten(data))
        max = Math.ceil(max / 5) * 5
        if (max < 35) {
            max = 35
        }

        var x_labels = ($('#x_labels_graph_6').data().other);
        x_labels = x_labels.split(',')

        // Init variable:
        var value = new Array();
        value.push(["Income", "Percentage of people"]);

        for (var i = 0; i < data.length; i++) {
            value.push([x_labels[i], data[i]]);
        }

        var data = google.visualization.arrayToDataTable(value)


        var options = {
            height: 400,
            title: '{{top_bottom}} {{percent}}% in {{subject}}',
            chartArea: {
                width: '90%',
            },
            hAxis: {
                title: 'Incomes',
            },
            legend: {
                position: 'bottom',
                textStyle: {
                    color: 'black',
                    fontName: 'Raleway',
                    fontSize: '14'
                }
            },
            vAxis: {
                title: 'Income representation in this zone',
                viewWindow: {
                    min: 0,
                    max: max
                },
            }
        };

        var chart = new google.visualization.ColumnChart(
            document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>

<meta id="data_graph_6" data-name="data" data-other="{{data_graph_6}}">
<meta id="x_labels_graph_6" data-name="data" data-other="{{x_labels_graph_6}}">

<div id="chart_div" style="width: 100%"></div>

{% endblock%}