{% block content %}

<script type="text/javascript">
    google.charts.load("current", {
        packages: ['corechart']
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        // FORMATING DATA FROM DJANGO TO JAVASCRIPT:
        var data = $('#data_graph_1').data().other;

        var x_labels = ($('#x_labels_graph_1').data().other);
        x_labels = x_labels.split(',')

        var bar_labels = ($('#bar_labels_graph_1').data().other);
        bar_labels = bar_labels.split(',')

        // Init variable:
        var value = new Array();
        value.push(bar_labels);

        for (var i = 0; i < data.length; i++) {
            data[i].unshift(x_labels[i]);
            value.push(data[i]);
        }

        // END OF FORMATING

        var data = google.visualization.arrayToDataTable(value);

        var options = {
            height: 400,
            chartArea: {
                width: '85%',
            },
            title: '{{title_graph_1}}',
            legend: {
                position: 'bottom',
                maxLines: 15
            },
            bar: {
                groupWidth: '75%'
            },
            colors: ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6', '#f5d9b6'],
            isStacked: 'percent',
        };

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1, 2, 3, 4, 5, 6]);

        var chart = new google.visualization.ColumnChart(document.getElementById("graph_1"));
        chart.draw(view, options);
    }
</script>

<meta id="data_graph_1" data-name="data" data-other="{{data_graph_1}}">
<meta id="x_labels_graph_1" data-name="data" data-other="{{x_labels_graph_1}}">
<meta id="bar_labels_graph_1" data-name="data" data-other="{{bar_labels_graph_1}}">

<div id="graph_1" style="width: 100%"></div>
{% endblock %}