{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {
        packages: ['corechart']
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        // FORMATING DATA FROM DJANGO TO JAVASCRIPT:
        var data = $('#data').data().other;

        var x_labels = ($('#x_labels').data().other);
        x_labels = x_labels.split(',')

        var bar_labels = ($('#bar_labels').data().other);
        bar_labels = bar_labels.split(',')

        // Adding annotation mark to 'bar_labels':
        bar_labels.push({
            role: 'annotation'
        });

        // Init variable:
        var value = new Array();
        value.push(bar_labels);

        for (var i = 0; i < data.length; i++) {
            data[i].unshift(x_labels[i]);
            value.push(data[i]);
        }

        // END OF FORMATING

        var data = google.visualization.arrayToDataTable(value);

        var options = {
            chartArea: {
                width: '90%',
            },
            title: '{{title}}',
            legend: {
                position: 'bottom',
                maxLines: 15
            },
            bar: {
                groupWidth: '75%'
            },
            colors: ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6', '#f3b42f'],
            isStacked: true,
        };

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1, 2, 3, 4, 5, 6]);

        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        chart.draw(view, options);
    }
</script>

<meta id="data" data-name="data" data-other="{{data}}">
<meta id="x_labels" data-name="data" data-other="{{x_labels}}">
<meta id="bar_labels" data-name="data" data-other="{{bar_labels}}">

<div id="columnchart_values" style="height: 60%"></div>
{% endblock %}